block content
    <table>
        <thead>
            <tr>
                <th>URL</th>
                <th>Protocolo</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><form action="/" method="POST">
                    <label for="url">URL a buscar</label>
                        <input type="text" name="urlabuscar" id="url" required>
                        <select class="" name="protocolo">
                        <option id="FTP" value="FTP">FTP</option>
                        <option id="SSH" value="SSH">SSH</option>
                        <option id="TELNET" value="TELNET">TELNET</option>
                        <option id="SMTP" value="SMTP">SMTP</option>
                        <input type="submit" value="Submit" class="waves-effect waves-light btn light-blue darken-4">
                    </form>
            </tr>
        </tbody>
    </table>
    div>
        <footer>
            <div class="foot">
                <p>Leandro Estrella 2018</p>
            </div>
        </footer>
    </div>