block content
   
   <head>
        link(rel="stylesheet", href="./stylesheets/style.css")

   </head>
   
   <body>
        <div class="vista">
                    <div>
                        <form action="/nmap" method="POST" id="form_nmap">
                                <input type="text" name="urlabuscar" id="url" required>
                                <select class="" name="tiposcan" id="tiposcan">
                                <option name="QuickScan" value="QuickScan">QuickScan</option>
                                <option name="NormalScan" value="NmapScan">Scan</option>
                                <option name="OsAndPortScan" value="OsAndPortScan">Scan sistema operativo y puerto</option>
                                <input type="submit" value="Submit" class="waves-effect waves-light btn light-blue darken-4">
                        </form>
                    </div>
                    <div class="resp" name="respuesta" id="resp">
                    
                    
                    </div>
        </div>
   </body>

    script(src="./scripts/jquery-3.3.1.min.js")
    script(src="./scripts/nmap_paginas.js")
    